:host{
	background-color:brown;
	position: relative;
	min-height: var(--card-height);
	width: var(--card-width);
}
.card{
	position: absolute;
	border: 0.5rem solid;
	border-color: aqua;
	height: var(--card-height);
	width: var(--card-width);
	box-sizing: border-box;
}
.spacer{
	/*position: absolute;*/
	height: 2rem;
}
.container{
	/*position: absolute;*/
	/*top: 2rem;*/
}
