:host{
	background-color: var(--theme-background-primary);
	flex: 0;
	display: flex;
	padding: calc(5rem / 16);
	font-size: 1.5em;
	position: sticky;
	top: 0rem;
	z-index: 1000;
	height: 3rem;
	--icon-size: 3rem;
}

*{
	line-height: 3rem;
}

.font-size{
	display: flex;
	flex: 0;
}
.font-size>div{
	cursor: pointer;
	color: var(--text-primary);
	height: 1.5rem;
	width: 1.5rem;
}

.favorites{
	cursor: pointer;
	position: relative;
	height: 2.5rem;
	width: 2.5rem;

}
.favorites>.icon{
	color: var(--theme-text-primary);
}
.favorites>.icon> svg{
	height: var(--icon-size);
	width: var(--icon-size);
}
.favorites>.count{
	position: absolute;
	margin: auto;
	top: 5%;
	left: 30%;
	color: rgb(70, 155, 217);
	font-weight: 700;
}

.cart{
	cursor: pointer;
	position: relative;
	height: var(--icon-size);
	width: var(--icon-size);
}
.cart>.icon{
	color: var(--theme-text-primary);
}
.cart>.icon>svg{
	height: var(--icon-size);
	width: var(--icon-size);
}
.cart>.count{
	position: absolute;
	margin: auto;
	text-align: center;
	top: -25%;
	left: 0;
	right: 0;
	color: rgb(70, 155, 217);
	font-weight: 700;
}
.products{
	cursor: pointer;
	flex: 1;
	text-align: center;
}
